CAR_ID=1
MQTT_BROKER=10.11.0.203
MQTT_PORT=1883

# camera
CAM_DEV=0
WIDTH=320
HEIGHT=240
FPS=15
JPEG_Q=75

# device HTTP API
DEVICE_HOST=https://localhost
DEVICE_PASSWORD=replace-with-sticker-password
MAX_SPEED=1.0
